@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    rgba(13, 13, 94, 0.82),
    rgba(0, 17, 63, 0.911)
  );
}
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 17, 63, 0.911);
}

::-webkit-scrollbar-thumb {
  background-color: #17171777;
  border-radius: 5px;
}

.title {
  text-align: center;
  font-size: 50px;
  color: #171717;
  font-family: "Smooch", cursive;
}
